*.old
*.[do]
*.hex
*.bin
*.eep
*.elf
*.lss
*.map
*.sym
*.pro.user
*.pro.user.*
*.pro

# Ignore Qt build files
Utility/desktop_app_v2/build-desktop2-Desktop*
Utility/desktop_app/build-desktop-Desktop*

# Ignore executables
Utility/serial_to_file/main
Utility/pindef_parser/pindef_parser
Utility/random_to_bitmap/random_to_bitmap
Utility/desktop_app_v2/build-desktop2-Desktop_Qt_5_9_1_GCC_64bit-Release/desktop2
Utility/desktop_app_v2/build-desktop2-Desktop_Qt_5_9_1_GCC_64bit-Debug/desktop2
Utility/string_parser/string_parser
Utility/memory_parser/memory_parser
Utility/font/bitmap_to_font
Utility/key_helper/key_helper
Code/main.elf
Utility/blink_test/main
