Code/build/
*.old
*.[do]
*.hex
Code/depend/
*.bin
*.eep
*.elf
*.lss
*.map
*.sym
Utility/editor/build-pwd_wallet_editor-Desktop_Qt_5_8_0_GCC_64bit-Debug/
Utility/editor/build-pwd_wallet_editor-Desktop_Qt_5_8_0_GCC_64bit-Release/
Utility/desktop_app/build-desktop-Desktop_Qt_5_9_1_GCC_64bit-Debug
*.pro.user
*.pro.user.*
kicad/password_wallet-cache.lib
kicad/password_wallet.bak
Utility/aes_test/aes_tiny/main
Utility/aes_test/avr-aes-0.3/main
